<%= form_with(model: model, data:{ turbo: false }) do |f|  %>
    <div>
        <%= f.label :title, '標題：'%> 
        <%= f.text_field :title%> 
    </div>
    <div>
        <%= f.label :subtitle, '副標題：'%> 
        <%= f.text_field :subtitle%> 
    </div>
    <div>
        <%= f.label :content, '內文：'%> 
        <%= f.text_area :content%> 
    </div>
    <div>
        <%= f.label :password, '上鎖：'%> 
        <%= f.password_field :password%> 
    </div>

    <%= f.submit %>
<% end %>
