<h1 class="h1-type">文章列表</h1>

<br>
<%= form_with(url: '', method: :get) do |f| %>
    <%= f.search_field :keyword ,value: params[:keyword]%>
    <%= f.submit 'Search', class: 'action-btn'%>
    <%= link_to 'clear', articles_path, class: 'action-btn'%>
<% end %>

<hr class="my-5">
<ul>
<% @articles.each do |article|%>
    <li class="pd-20 border-2 mt-5 rounded">
        <%= link_to article.title, article_path(article.id)%>
        <article >
            <div><%= article.subtitle.truncate(20)%></div>
            <p>
            <% if article.password.present?%>
                <%= form_with(model: article,
                                url: unlock_article_path(article),
                                data: { turbo: false}) do |f| %>
                <%= f.label :password, "輸入密碼", class:'action-btnclass'%>
                <%= f.password_field :password%>
                <%= f.submit "送出",class: 'action-btn'%>
                <% end %>
            <% else %>
                <%= article.content.truncate(50)%>
            <% end %>
            </p>
            <footer><%= link_to "繼續閱讀", article_path(article.id)%></footer>
        </article>
        <%= link_to "編輯", edit_article_path(article) if policy(article).update?%>
        <%= link_to "刪除", article_path(article.id), 
                                data: { 
                                turbo_method: 'delete',
                                turbo_confirm: '確定要刪除嗎？'
                                } if policy(article).destroy?%>
    </li>
<% end %>
</ul>