<div data-controller="hello"
     data-action="abc@window->hello#go"></div>

<h1>
    <%= @article.title%>    
</h1>

<div data-controller="like" 
     data-liked="<%= current_user&.liked?(@article) %>" 
     data-id="<%= @article.id %>">
    <a href="#" class="like_btn"
                data-like-target="likebtn" 
                data-action="click->like#toggle"></a>
</div>

<article>
    <p><%= @article.content %></p>
</article>
<hr>


<h2>留言版<%= Time.now%></h2>

<%= form_with( model: [ @article, @comment] )do |f| %>

    <div>
    <%= f.label :content, "留言" %>
    <%= f.text_area :content %>
    </div>
    <br>
    <div><%= f.submit "新增留言"%></div>

<% end %>

<hr>
<ul id="comment_list">
    <%= render (@comments)%>
    <%# @comments.each do |comment|%>
        <%# render 'comment', comment: comment%>
    <%# end %>
</ul>
<hr>
