<nav class="bg-green-200 flex justify-between px-4 py-5">

      
      <ul class="flex  gap-2">
        <% if user_signed_in? %>
          <li><%= link_to "Hello,#{current_user.display_name}", root_path,class: 'action-cruuentuser-btn' %></li>
          <li><%= link_to "新增文章", new_article_path, class: 'action-btn' %></li>
          <li><%= link_to "新增相簿", new_album_path, class: 'action-btn' %></li>
          <li><%= link_to "登出", logout_users_path,class: 'action-btnclass', data: {turbo_method: 'delete', turbo_confirm: '確定要登出嗎？'} %></li>
        <% else %>
          <li><%= link_to "登入", login_users_path,class: 'action-btn' %></li>
          <li><%= link_to "註冊", new_users_path,class: 'action-btn' %></li>
        <% end %>
      </ul>
      <ul class="flex gap-2">
        <li><%= link_to "有名小站", root_path,class: 'action-btnclass' %></li>
        <li><%= link_to '文章', articles_path,class: 'action-btnclass' %></li>
        <li><%= link_to '相簿', albums_path,class: 'action-btnclass' %></li>
      </ul>
</nav>


