<nav>
      <ul>
        <% if session[:xman] %>
          <li><%= link_to "登出", logout_users_path, data: {turbo_method: 'delete'} %></li>
          <li>目前登入<%= current_user&.email %></li>
          <li><%= link_to "新增文章", new_article_path %></li>
        <% else %>
          <li><%= link_to "登入", login_users_path %></li>
          <li><%= link_to "註冊", new_users_path %></li>
        <% end %>
        
        <li><%= link_to "首頁", root_path %></li>
      </ul>
</nav>