<nav class="bg-green-200 flex justify-between px-4 py-5">

      
      <ul class="flex  gap-2">
        <% if user_signed_in? %>
          <li><%= link_to "Hello,#{current_user.display_name}", root_path,class: 'action-cruuentuser-btn' %></li>
          <li><%= link_to t('navbar.New article'), new_article_path, class: 'action-btn', aria: { label: 'NewArticle Button'} %></li>
          <li><%= link_to t('navbar.Add new album'), new_album_path, class: 'action-btn' %></li>
          <li><%= link_to t('navbar.Sign out'), logout_users_path,class: 'action-btnclass', data: {turbo_method: 'delete', turbo_confirm: '確定要登出嗎？'} %></li>
        <% else %>
          <li><%= link_to t('navbar.Log in'), login_users_path,class: 'action-btn' %></li>
          <li><%= link_to t('navbar.Register'), new_users_path,class: 'action-btn' %></li>
        <% end %>
      </ul>
      <ul class="flex gap-2">
        
        <li><%= link_to t('navbar.Yumei Staion'), root_path,class: 'action-btnclass' %></li>
        <li><%= link_to t('navbar.Article'), articles_path,class: 'action-btnclass' %></li>
        <li><%= link_to t('navbar.Album'), albums_path,class: 'action-btnclass' %></li>
        <li><%= link_to t('navbar.Join Vip'), pricing_path,class: 'action-btn' %></li>
      
</nav>

      <ul class="inline-block py-1  ">
        <li><%= link_to '中文', root_path(locale: 'tw'), class: 'action-btnlanguate'%></li>
        <li><%= link_to 'English',root_path(locale: 'en'), class: 'action-btnlanguate' %></li>
        <li><%= link_to '日本語', root_path(locale: 'jp'), class: 'action-btnlanguate'%></li>
      </ul>

