<h1 class="h1-type"><%= @album.name %></h1>

<%= form_with(model: @album, data: {turbo: false})do |f|%>
    <%= f.file_field :photos, multiple: true %>
    <%= f.submit "上傳照片", class: 'action-btn'%>
<% end %>

<hr>

<%= @album.photos.each do |photo| %>
    <%= image_tag photo, class: 'w-20 h-20'%>
<% end %>